body{
  	margin: 0;
  	padding: 0;
   	background-image: url(https://asset-a.grid.id/crop/0x0:0x0/900x450/photo/bolasport/medium_127cd10a9431612811fed52d1c6a93e1.jpg);
	height: 100%;
	width: 100%}